.movie-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: 250px;
  }
  
  .movie-tile:hover {
    transform: scale(1.05);
  }
  
  .movie-image {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .movie-image img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .movie-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .movie-name {
    font-size: 1.2rem;
  }
  
  .year-box {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .movie-genres {
    margin: 0;
  }
  